@font-face {
    font-family: 'RopaSansSCProRegular';
    src: url('../fonts/RopaSansSCProRegular.eot');
    src: url('../fonts/RopaSansSCProRegular.eot') format('embedded-opentype'),
         url('../fonts/RopaSansSCProRegular.woff2') format('woff2'),
         url('../fonts/RopaSansSCProRegular.woff') format('woff'),
         url('../fonts/RopaSansSCProRegular.ttf') format('truetype'),
         url('../fonts/RopaSansSCProRegular.svg#RopaSansSCProRegular') format('svg');
}
@font-face {
    font-family: 'BebasNeueBold';
    src: url('../fonts/BebasNeueBold.eot');
    src: url('../fonts/BebasNeueBold.eot') format('embedded-opentype'),
         url('../fonts/BebasNeueBold.woff2') format('woff2'),
         url('../fonts/BebasNeueBold.woff') format('woff'),
         url('../fonts/BebasNeueBold.ttf') format('truetype'),
         url('../fonts/BebasNeueBold.svg#BebasNeueBold') format('svg');
}
@font-face {
    font-family: 'BebasNeueRegular';
    src: url('../fonts/BebasNeueRegular.eot');
    src: url('../fonts/BebasNeueRegular.eot') format('embedded-opentype'),
         url('../fonts/BebasNeueRegular.woff2') format('woff2'),
         url('../fonts/BebasNeueRegular.woff') format('woff'),
         url('../fonts/BebasNeueRegular.ttf') format('truetype'),
         url('../fonts/BebasNeueRegular.svg#BebasNeueRegular') format('svg');
}

@font-face {
    font-family: 'MuseoSansCyrl100';
    src: url('../fonts/MuseoSansCyrl.eot');
    src: url('../fonts/MuseoSansCyrl.eot') format('embedded-opentype'),
         url('../fonts/MuseoSansCyrl.woff2') format('woff2'),
         url('../fonts/MuseoSansCyrl.woff') format('woff'),
         url('../fonts/MuseoSansCyrl.ttf') format('truetype'),
         url('../fonts/MuseoSansCyrl.svg#MuseoSansCyrl') format('svg');
}

@font-face {
    font-family: 'BebasNeueBook';
    src: url('../fonts/BebasNeueBook.eot');
    src: url('../fonts/BebasNeueBook.eot') format('embedded-opentype'),
         url('../fonts/BebasNeueBook.woff2') format('woff2'),
         url('../fonts/BebasNeueBook.woff') format('woff'),
         url('../fonts/BebasNeueBook.ttf') format('truetype'),
         url('../fonts/BebasNeueBook.svg#BebasNeueBook') format('svg');
}